<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- We use url_for to link a stylesheet named `style.css` within the folder 'static' here. -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

        <!-- Use Jinja to put a title here. -->
        <title>PLACEHOLDER</title>
    </head>

    <body>
        <h1>Hi!</h1>
        <h2>Navigation</h2>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
